<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div>
    <table>
        <thead>
        <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th>
        </thead>
        <tbody>
        <tr th:each="p:${productList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.Name}"></td>
            <td th:text="${p.Price}"></td>
            <td th:text="${p.Quantity}"></td>

        </tr>
        </tbody>
        </table>
</div>
</body>
</html>